* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input,
label {
  display: block;
}
label {
  color: rgb(4, 118, 25);
}
input {
  width: 100%;
}
.submit {
  width: 40%;
  margin-top: 15px;
  margin: auto;
  border-radius: 5px;
  background-color: aqua;
}
form {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  border: 2px solid black;
  padding: 15px;
}
.g-recaptcha {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
